In [19]:
from bs4 import BeautifulSoup
import requests
import re

ROOT_URL = 'https://www.carvana.com/cars'
MAX_CARS_COUNT = 110

def process_one_page(current_page):
    cars = []

    url_str = f'{ROOT_URL}?page={current_page}'

    page = requests.get(url_str)
    page_content = BeautifulSoup(page.content, 'html.parser')

    # find list of cars
    articles = page_content.find_all('div', attrs={"class":"result-tile"})
    for article in articles:
        if article and article.a:
            # car_id
            pattern = re.compile("/vehicle/(.*)")
            result = pattern.search(article.a.get('href'))
            car_id = result.group(1).strip()

            # year and brand
            combined_str = article.find(name='div', attrs={"class":"year-make"}).get_text()
            year = int(combined_str.split()[0].strip())
            brand = combined_str.split()[1].strip()

            # model
            model = article.find(name='div', attrs={"class":"model"}).get_text()

            # mileage
            combined_str = article.find(name='div', attrs={"class":"mileage"}).get_text()
            mileage = int(combined_str.split()[0].strip().replace(",", ""))
        
            # price
            combined_str = article.find(name='div', attrs={"class":"price"}).get_text()
            price = int(combined_str.strip().replace(",", "").replace("$", ""))

            cars.append([car_id, year, brand, model, mileage, price])

    return cars

In [20]:
def start_data_accquiring():
    curr_page = 1
    car_count = 0
    data = []
    while car_count < MAX_CARS_COUNT:
        cars = process_one_page(curr_page)
        if len(cars) > 0:
            data.extend(cars)
        car_count += len(cars)
        curr_page += 1

    return data

In [21]:
import pandas as pd
 
data = start_data_accquiring()
 
# Create the pandas DataFrame
df = pd.DataFrame(data, columns = ['ID', 'Year', 'Brand', 'Model', 'Mileage','Price'])
df

          ID  Year      Brand         Model  Mileage  Price
0    1795564  2018        GMC       Terrain    23431  24990
1    1872539  2018        GMC       Terrain    31960  24990
2    1941086  2019    Hyundai      Santa Fe    44114  24990
3    1972469  2019      Dodge       Journey     9175  24990
4    1943567  2015      Honda        Accord    33709  19990
..       ...   ...        ...           ...      ...    ...
117  1913781  2018       Ford          Edge    42592  23990
118  1978646  2015     Subaru  XV Crosstrek    43572  22990
119  1917010  2014      Honda        Accord    78035  17590
120  1882446  2017  Chevrolet         Cruze    50851  16990
121  1845182  2017     Nissan        Altima    72961  17590

[122 rows x 6 columns]

In [22]:
df.to_csv('cars.csv', index=False)